@import "src/root-style/common";

.chord-editor {
    background: $transparent-dark-2;
    border-radius: $g-xs;
    padding: $g-sm;
}

.chord-editor-note-selector-container {
    max-width: 100%;
    overflow: auto;
}
