@import "src/root-style/common";

.chord-editor {
    background: $transparent-dark-2;
    border-radius: $g-s;
    padding: $g-sm;
    box-shadow: 0 2px 6px rgba(black, 0.3);
}

.chord-editor-note-selector-container {
    max-width: 100%;
    overflow: auto;
}
