@import "src/root-style/common";

.slider-with-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider-with-input-input.p-input {
    margin-left: $g-s;
    width: 100px;
}

.slider-with-input-slider {
    @include slider(100px, 4px);
}
