@import "src/root-style/common";

.chords-selector {
    position: relative;
}

    .chords-selector-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        background-color: $purple-2;
        border-radius: $g-s;
    }

        .chords-selector-chord {
            height: 100px;
            min-width: 120px;
            max-width: 120px;
            padding: 0 20px;
            position: relative;
            flex: 1;
        }

            .chords-selector-chord-bg {
                transition: background-color 0.1s ease-in-out;
                height: 100px;

                .chords-selector-chord:hover & {
                    background-color: rgba($transparent-dark-1, 0.2);
                }

                .chords-selector-chord-selected & {
                    background-color: $transparent-dark-1;
                }

                .chords-selector-chord-selected:hover & {
                    background-color: $transparent-dark-1;
                }
            }

            .chords-selector-chord-bar {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                width: $g-xs;
                left: 50%;
                transform: translateX(-50%);
                background-color: $highlight-4;
            }

        .chords-selector-chord-name {
            position: absolute;
            height: 20px;
            line-height: 20px;
            font-size: 10px;
            color: white;
            border-radius: 10px;
            background-color: $purple-4;
            left: 50%;
            transform: translateX(-50%);
            bottom: $g-xs;
            z-index: 2;
            white-space: nowrap;
            padding: 0 $g-sm;
        }
