@value palette1, palette2, palette3, palette4, palette5 from "style-common/colors.css";
@value gxs, gsm, gm from "style-common/grid.css";

.input {
    height: 37px;
    border-radius: gxs;
    padding: 0 gsm;
    border: 1px solid palette4;
    outline: 0;
}
