@import "src/root-style/common";

.controller-params-display {
    background: $transparent-dark-3;
    border-radius: $g-sm;
    padding: $g-sm;
    pointer-events: none;
    color: $white;
    font-size: 12px;
    margin-top: $g-sm;
}

    .controller-params-display-param {
        margin-bottom: $g-s;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

        .controller-params-display-param-name {
            margin-right: $g-s;
            min-width: $g-l;
            text-align: right;
        }
