@import "src/root-style/common";

.song-parts-selector-title {
    display: inline-block;
}

.song-parts-selector-part {
    font-size: 16px;
    color: $white;
    background-color: $dark-transparent;
    padding: $g-s;
    cursor: pointer;

    &:hover {
        background-color: $dark-transparent-2;
    }

    &.song-parts-selector-part-selected {
        background: red;
    }
}
