@import "src/root-style/common";

.song-parts-selector-part {
    font-size: 16px;
    color: $white;
    background-color: transparent;
    padding: $g-s;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $purple-4;
    }

    &:after {
        content: '';
        display: none;
        top: 0;
        bottom: 0;
        right: - $g-m;
        width: $g-m;
        position: absolute;
        border-top: $g-l / 2 solid transparent;
        border-bottom: $g-l / 2 solid transparent;
        border-left: $g-l / 2 solid $blue-4;
        transform: scaleX(0.5);
        transform-origin: left center;
        z-index: 1;
    }

    &.song-parts-selector-part-selected {
        background: $blue-4;

        &:after {
            display: block;
        }
    }
}
