@import "src/root-style/common";

.song-details {
    min-width: 200px;
    max-width: 200px;
    background-color: $transparent-bg;
    position: relative;
}

    .song-details-title {
        color: white;
        font-size: 24px;
        padding: $g-m;
    }

    .song-details-show-all-songs {
        position: absolute;
        left: 100%;
        top: 0;
    }

    .song-details-part {
        padding: $g-s $g-m;
        color: $white;
        font-size: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: $dark-transparent;
        }

        &.song-details-part-selected {
            background-color: $purple-3;
            cursor: default;

            .song-details-part-number {
                background-color: $blue-3;
            }
        }
    }

        .song-details-part-number {
            font-size: 10px;
            border-radius: $g-xs;
            background-color: $dark-transparent;
            text-align: center;
            height: 18px;
            line-height: 18px;
            width: 18px;
            display: inline-block;
            margin-right: $g-s;
        }

    .song-details-edit-button-container {
        padding: $g-m;
    }
