@value colors: "style-common/colors.css";
@value mainColor, palette1, palette2 from colors;

.container {

}

.selected {
    padding: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
    background: palette2;
    cursor: pointer;
    border-left: 2px solid mainColor;
}
.selected:hover {
    background: palette1;
}

.notSelected {
    padding: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
    background: palette2;
    cursor: pointer;
    border-left: 2px solid transparent;
}
.notSelected:hover {
    background: palette1;
}
