@import "src/root-style/common";

.value-bar {
    height: $g-m;
    width: 100%;
    background-color: $purple-3;
    position: relative;
    overflow: hidden;
    transition: opacity 0.15s ease-in-out;

    &.value-bar-disabled {
        opacity: 0.5;
    }
}
    .value-bar-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.05s linear;
        background: $blue-4;
        z-index: 10;
    }

    .value-bar-text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 9px;
        padding-right: $g-xs;
        color: $white;
        z-index: 20;
        line-height: $g-m;
    }
