@import "src/root-style/common";

.main-options {
    min-width: 400px;
    max-width: 90vw;
    box-shadow: 0 4px 16px $purple-4;
    border-radius: $g-sm;
}
    /*
     .main-options-header {
    }
    */

    .main-options-content {
        background: $purple-3;
        padding: $g-l;
        border-radius: 0 0 $g-sm $g-sm;
    }

        .main-options-field {
            display: block;
            text-align: left;
            margin-bottom: $g-s;

            &:last-child {
                margin-bottom: 0;
            }
        }
