@import "src/root-style/common";

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $dark-transparent;
    @include line-center;
}

.modal {
    padding: $g-m;
    background: $transparent-bg;
    border-radius: $g-xs;
    color: $white;
}
