@import "src/root-style/common";

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $transparent-dark-3;
    @include line-center;
}

.modal {
    padding: $g-sm;
    background: $transparent-white-1;
    border-radius: $g-s;
    color: $white;
}
