@import "src/root-style/common";

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba($grey-5, 0.75);
    @include line-center;
}

.modal {
    padding: $g-sm;
    border-radius: $g-s;
    color: $white;
}

.modal-header {
    background-color: #504F61;
    padding: $g-sm;
    padding-right: $g-m;
    border-radius: $g-sm $g-sm 0 0;
    position: relative;
    z-index: 2;
}
