@value gxs, gsm from "style-common/grid.css";

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .modal {
        padding: gsm;
        background: white;
        box-shadow: 0 0 10px black;
        border-radius: gxs;
    }
