@import "src/root-style/common";

.note-selector {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

$note-selector-note-height: 70px;
$note-selector-note-width: 22px;
$note-selector-sharp-note-height: 49px;
$note-selector-sharp-note-width: 14px;

    .note-selector-note {
        height: $note-selector-note-height;
        width: $note-selector-note-width;
        background-color: $white;
        border-radius: $g-xs;
        border: 1px solid $grey-3;
        cursor: pointer;

        &:hover {
            background-color: $grey-1;
        }

        &.note-selector-note-selected {
            background-color: $highlight-3;

            &:hover {
                background-color: $highlight-2;
            }
        }
    }

    .note-selector-note-sharp {
        width: 0;
        position: relative;
        border: 0;

        &:before {
            content: "";
            display: block;
            background: $grey-5;
            position: absolute;
            top: 0;
            left: -($note-selector-sharp-note-width / 2);
            width: $note-selector-sharp-note-width;
            height: $note-selector-sharp-note-height;
            border-radius: $g-xs;
            border: 1px solid $grey-3;
        }

        &:hover:before {
            background-color: $grey-4;
        }

        &.note-selector-note-selected:before {
            background-color: $highlight-3;
        }

        &:hover.note-selector-note-selected:before {
            background-color: $highlight-2;
        }

    }
