@value palette2 from "style-common/colors.css";
@value gxl from "style-common/grid.css";

.sidebar {
    background: palette2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: gxl;
}
