@import "src/root-style/common";

.sidebar {
    background-color: $transparent-white-1;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.sidebar-left {
    left: 0;
    width: $g-xl;
}
