@import "src/root-style/common";

.song-editor {
    min-width: 820px;
    max-width: 90vw;
    box-shadow: 0 4px 16px $purple-4;
    border-radius: $g-sm;
}

.song-editor-confirm-content {
    padding: $g-l;
    border-radius: $g-sm;
    background-color: $transparent-dark-3;
    text-align: center;
}

.song-editor-header {
    background-color: #504F61;
    padding: $g-sm;
    padding-right: $g-m;
    border-radius: $g-sm $g-sm 0 0;
    position: relative;
    z-index: 2;
}

.song-editor-content {
    position: relative;
    border-radius: 0 0 $g-sm $g-sm;
    overflow: hidden;
}
$song-editor-content-part-list-width: 140px;

    .song-editor-content-part-list {
        min-width: $song-editor-content-part-list-width;
        width: $song-editor-content-part-list-width;
        max-width: $song-editor-content-part-list-width;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: $purple-3;
        box-shadow: 0 2px 6px rgba(black, 0.3);
    }

    .song-editor-content-part-editor {
        background: $purple-4;
        padding-left: $song-editor-content-part-list-width;
    }
