@import "src/root-style/common";

.toggle {
    width: $g-xl;
    height: $g-xl;
    @include line-center;
    cursor: pointer;

    &:hover {
        background-color: $transparent-dark-1;
    }

    &.toggle-selected {
        background-color: $purple-3;
        cursor: default;
    }
}
