@value gxl from "style-common/grid.css";
@value palette4, palette3 from "style-common/colors.css";

.container {
    width: gxl;
    height: gxl;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    composes: container;
    background-color: palette4;
}

.unselected {
    composes: container;
    background-color: palette3;
}
