$transparent-bg: rgba(#8C8D91, 0.38);
$dark-transparent: rgba(#383851, 0.63);
$dark-transparent-2: rgba(#383851, 0.33);

$white: #fff;

$blue-1: #1A9183;
$blue-2: #0E9E8D;
$blue-3: #22C2AF;
$blue-4: #41D4C3;
$blue-5: #53DCCC;
