$white: #FAFAFA;

$purple-1: #DADAE3;
$purple-2: #665F7D;
$purple-3: #383851;
$purple-4: #262638;

$blue-1: #53DCCC;
$blue-2: #41D4C3;
$blue-3: #22C2AF;
$blue-4: #0E9E8D;
$blue-5: #1A9183;

$danger-1: #E17967;
$danger-2: #D15F4B;
$danger-3: #B3402C;
$danger-4: #99311E;
$danger-5: #7A2516;

$highlight-2: #EEC170;
$highlight-3: #F2A65A;
$highlight-4: #F58549;

$grey-1: #D4D4D4;
$grey-2: #989E9D;
$grey-3: #808786;
$grey-4: #566160;
$grey-5: #242B2A;


$transparent-white-1: rgba(#8C8D91, 0.38);
$transparent-dark-1: rgba($purple-3, 0.33);
$transparent-dark-2: rgba($purple-3, 0.63);
$transparent-dark-3: rgba($purple-3, 0.95);
