.line-center {
    @include line-center;
}

.grow-full-width {
    flex: 1;
}

.selector-title {
    background-color: $blue-1;
    line-height: $g-ml;
    font-size: 12px;
    padding: 0 $g-sm;
    color: white;
}
