.line-center {
    @include line-center;
}

.line-bottom {
    @include line-center;
    align-items: flex-end;
}

.grow-full-width {
    flex: 1;
}

.selector-title {
    background-color: $blue-5;
    line-height: $g-ml;
    font-size: 12px;
    padding: 0 $g-sm;
    color: white;
}
