@mixin line-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin reset-button {
    white-space: nowrap;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
}
