@import "src/root-style/common";

@mixin reset-button {
    white-space: nowrap;
    border: 0;
    padding: 0;
    outline: 0;
    background: transparent;
}

.p-button {
    @include reset-button;
    @include regular;
    padding: $g-s $g-sm;

    background-color: $blue-3;
    border-radius: $g-xs;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    cursor: pointer;

    &:hover {
        background-color: $blue-2;
    }

    &:active {
        background-color: $blue-1;
    }
}
