@import "src/root-style/common";

$p-button-height: $g-l;
$p-button-line-height: $g-m;
$p-button-border: 1px;

.p-button {
    @include reset-button;
    @include regular;
    padding: ($p-button-height - $p-button-line-height - ($p-button-border * 2)) / 2 $g-sm;
    border-radius: $g-xs;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    cursor: pointer;
    border: $p-button-border solid;
}

.p-button-full-width {
    display: block;
    width: 100%;
}

.p-button-primary {
    background-color: $blue-3;
    border-color: transparent;

    &:hover {
        background-color: $blue-4;
    }

    &:active {
        background-color: $blue-5;
    }
}

.p-button-secondary {
    background-color: $transparent-dark-1;
    border-color: $blue-3;

    &:hover {
        background-color: $transparent-white-1;
    }

    &:active {
        background-color: $transparent-dark-2;
    }
}
