@import "src/root-style/common";

$p-button-height: $g-l;
$p-button-line-height: $g-m;
$p-button-border: 0;

.p-button {
    @include reset-button;
    @include regular;
    padding: ($p-button-height - $p-button-line-height - ($p-button-border * 2)) / 2 $g-m;
    border-radius: $p-button-height / 2;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    cursor: pointer;
    border: 0;
}

.p-button-full-width {
    display: block;
    width: 100%;
}

.p-button-primary {
    background-color: $blue-4;

    &:hover {
        background-color: $blue-5;
    }

    &:active {
        background-color: $blue-3;
    }
}

.p-button-secondary {
    background-color: $purple-2;

    &:hover {
        background-color: darken($purple-2, 10);
    }

    &:active {
        background-color: darken($purple-2, 20);
    }
}

.p-button-danger {
    background-color: $danger-3;

    &:hover {
        background-color: $danger-4;
    }

    &:active {
        background-color: $danger-5;
    }
}
