@import "src/root-style/common";

.p-icon-button {
    @include reset-button;
    height: $g-xl;
    width: $g-xl;
    background: $blue-3;
    cursor: pointer;
    @include line-center;

    &:hover {
        background: $blue-2;
    }

    &:active {
        background: $blue-1;
    }
}
