@import "src/root-style/common";

.main-volume {
    position: fixed;
    top: $g-ml;
    right: $g-ml;
    padding: $g-sm;
    background: $transparent-white-1;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
