@import "src/root-style/common";

.main-volume {
    position: fixed;
    top: $g-ml;
    right: $g-ml;
    padding: $g-sm;
    background: $transparent-white-1;
    border-radius: $g-sm;
}

    $slider-height: 100px;
    $slider-width: 10px;

    .main-volume-slider-wrapper {
        width: $slider-width;
        height: $slider-height;
    }

    .main-volume-slider {
        width: $slider-height;
        height: $slider-width;
        transform-origin: ($slider-height / 2) ($slider-height / 2);
        transform: rotate(-90deg);
    }
