@import "src/root-style/common";

.main-volume {
    position: fixed;
    bottom: $g-ml;
    left: $g-xl + $g-ml;
    padding: $g-sm;
    background: $transparent-white-1;
    border-radius: $g-ml;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
